.search-form {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  background: #82bcce;
  background: linear-gradient(to bottom, #82bcce 0%, #1c6ea4 0%, #82bcce 100%);

  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
}

input[type='text'] {
  width: 300px;
  height: 50px;

  font-size: 20px;

  outline: none;
  border: none;
  border-radius: 5px;

  padding-left: 15px;
}

@media screen and (min-width: 650px) {
  input[type='text'] {
    width: 350px;
  }
}

button[type='submit'] {
  width: 80px;
  height: 50px;

  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #2373a9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px #216b9dcb solid;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
  border-radius: 5px;
  cursor: pointer;

  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 10px;
}

button[type='submit']:hover {
  transform: scale(1.05);
}

.gallery {
  position: absolute;
  /* top: 50px; */
  right: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;

  min-width: 320px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 75px;
}

@media screen and (min-width: 650px) {
  .gallery {
    width: 760px;
  }
}

@media screen and (min-width: 1310px) {
  .gallery {
    width: 1440px;
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 100%;
  height: 360px;

  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;

  margin: 0;
}

.photo {
  display: block;

  width: 100%;
  height: 290px;

  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 70px;
  padding: 0 5px 0 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0 5px 0 5px;
}

@media screen and (min-width: 650px) {
  .photo-card {
    flex-basis: calc((100% - 4 * 10px) / 2);
    width: 100%;
  }
}

@media screen and (min-width: 1310px) {
  .photo-card {
    flex-basis: calc((100% - 8 * 10px) / 4);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  box-shadow: -3px 0px 5px 2px rgba(0, 0, 0, 0.75);

  background: #82bcce;
  background: linear-gradient(
    to bottom,
    #82bcce 0%,
    #1c6ea4 100%,
    #82bcce 100%
  );

  transform: translateY(75px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;

  margin-left: auto;
  margin-right: auto;
}

.open {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.message {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: right;

  max-width: 600px;
  padding: 0;
  margin-left: auto;
  margin-right: 15px;
}

.load-more {
  width: 80px;
  height: 50px;

  font-size: 16px;
  font-weight: 400;

  color: white;
  background-color: #2373a9;
  border: 2px #216b9dcb solid;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
  border-radius: 5px;
  cursor: pointer;

  padding-top: 0;
  margin-right: auto;
}

.load-more:hover {
  transform: scale(1.05);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .loader {
  position: absolute;
  top: 50%;
  width: 106px;
  height: 56px;
  display: block;
  margin: 30px auto;
  background-image: linear-gradient(#2373a9 50px, transparent 0),
    linear-gradient(#2373a9 50px, transparent 0),
    linear-gradient(#2373a9 50px, transparent 0),
    linear-gradient(#2373a9 50px, transparent 0),
    radial-gradient(circle 14px, #2373a9 100%, transparent 0);
  background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
  background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid #2373a9;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#2373a9 64px, transparent 0),
    linear-gradient(#2373a9 66px, transparent 0),
    radial-gradient(circle 4px, #2373a9 100%, transparent 0);
  background-size: 40px 1px, 1px 40px, 8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: rotation 0.3s linear infinite;
}
.loader::before {
  left: 25px;
  top: 60px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
